body {
    background-image: url("images/sand.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}
canvas {
    background-image: url("images/ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    margin: 0 auto;
}
div {
    margin-top: 15px;
    margin-left: 18%;
    margin-right: 10%;
}